/**
*
* @author Lenovo/LiGuanda
* @date 2024/9/7 PM 8:59:14
* @filename topbar.module.scss
* @description TopBar组件的配套样式
*
*/

@use "@/style/dimensions" as *;

.top-bar-container {

  display: flex;
  flex-direction: row;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  align-items: center;

  .common-decor {

    margin: 5px 10px;
    color: black;

  }

  .logo-container {

    @extend .common-decor;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    user-select: none;
    pointer-events: visible;

  }

  .website-title-container {

    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    pointer-events: visible;

    .web-name-text-container {

      margin: 5px 10px;
      background-image: linear-gradient(145deg, red, blue) !important;
      background-clip: text;
      cursor: default;
      user-select: none;
      font-size: 0.5vw;

      & > * {

        font-weight: bolder;
        font-size: 1.5rem;
        user-select: none;

      }

    }

  }


  .top-bar-item-container {

    @extend .common-decor;
    display: flex;
    align-items: center;

    .top-bar-item-icon-container {

      margin-top: $top-bar-item-icon-vertical-spacer-width;

    }

    .top-bar-item-text-container {

      margin-left: $top-bar-item-icon-text-spacer-width;
      user-select: none; // 2024-8-11  16:42-禁止功能选项的标题被文本选择和复制

    }

  }


  .flex-grow-spacer {

    @extend .common-decor;
    flex-grow: 1;

  }

  .contact-us-container {

    @extend .common-decor;

  }

  .fullscreen-container {

    @extend .common-decor;
    width: 25px;
    height: 25px;

  }

  .welcome-text-container {

    @extend .common-decor;

  }

  .user-avatar-container {

    @extend .common-decor;

  }

}
