/**
*
* @author Lenovo/LiGuanda
* @date 2024/9/7 AM 10:56:59
* @filename chatroom.module.scss
* @description ChatRoom组件的配套样式(为避免该组件的单文件体积过大而决定将其抽离出来)
*
*/

@use "@/style/dimensions" as *;
@use "@/style/themes/default" as *;


$dark-background: #323644;
$dark-primary-text: #e5eaf3;
$dark-secondary-text: #a6a9ad;
$chat-room-container-width: 58vw;
$chat-room-container-height: 70vh;
$message-top-bar-container-height: 5vh;
$message-input-container-height: 16vh;
$contact-container-width: 11vw;


.chat-room-container {

  width: $chat-room-container-width;
  height: $chat-room-container-height;
  max-height: $chat-room-container-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .message-container {

    flex: 9;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message-top-bar-container {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: $message-top-bar-container-height;
      background-color: $dark-background;
      border-radius: $global-dialog-radius $global-dialog-radius 0 0;
      border-bottom: 1px solid #272a37;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .room-name-container {

        font-size: $global-middle-window-primary-font-size;
        letter-spacing: $global-middle-window-primary-letter-spacing;
        font-weight: bold;
        color: $dark-primary-text;

      }

    }

    .message-content-container {

      width: 100%;
      height: calc(#{$chat-room-container-height} - #{$message-top-bar-container-height} - #{$message-input-container-height}); // 2024-8-22  00:18-避免聊天记录滚动区域意外溢出(至于为什么是这个数值，我也不清楚，我一下子给了这个数值，就)
      background-color: $dark-background;
      padding: 20px 0;

      .group-message-info-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin: 20px 0 0 0;
        padding: 0 20px;

        .group-message-content-container {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-left: 10px;

          .group-message-nickname-info-container {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            font-size: 12px;
            margin-bottom: 2px;

            .group-message-senderId-info-container {

              display: none;

            }

            .group-message-datetime-info-container {

              margin-left: 10px;
              display: none;

            }

          }

          .group-message-content-info-container {

            background-color: #484d5f;
            color: #e5eaf3;
            padding: 5px 15px 5px 10px;
            border-radius: 0 20px 20px 20px;
            overflow: hidden;

            .audioPlaying {

              animation: twinkle 2s linear infinite;

            }

            .audioNotPlaying {

              display: none;

            }

            @keyframes twinkle {

              from {

                color: transparent;

              }

              to {

                color: greenyellow;

              }

            }

          }

          &:hover {

            .group-message-nickname-info-container {

              .group-message-senderId-info-container {

                color: $dark-secondary-text;
                display: inline;

              }

              .group-message-datetime-info-container {

                color: $dark-secondary-text;
                display: inline;

              }

            }

          }

        }

      }

      .reversed {

        flex-direction: row-reverse;
        justify-content: end;

        .group-message-content-container {

          align-items: end;
          margin-right: 10px;

          .group-message-nickname-info-container {

            flex-direction: row-reverse;
            justify-content: end;

            .group-message-datetime-info-container {

              margin-right: 10px;

            }

          }

          .group-message-content-info-container {

            border-radius: 20px 0 20px 20px;
            padding: 5px 10px 5px 15px;

          }

        }

      }

    }

    .message-input-container {

      height: $message-input-container-height;
      width: 100%;
      padding: 15px;
      background-color: $dark-background;
      border-radius: 0 0 $global-dialog-radius $global-dialog-radius;
      border-top: 1px solid #272a37;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .message-extension-container {

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        .message-extension-emoji-container {

          padding: 0 !important;

        }

      }

      .message-input-bottom-half-container {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;

        ::v-deep(.el-textarea__inner) {

          padding: 0;
          box-shadow: none;
          border: none;
          background-color: transparent;
          color: #bfbbb4;

        }

        ::v-deep(.el-input__count) {

          background-color: transparent;

        }

        .message-input-component {

          font-size: 16px;

        }

        .send-message-icon {

          margin-left: 10px;
          cursor: pointer;

        }

      }

    }

  }

  .contact-container {

    $top-bar-height: 5vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $contact-container-width;
    height: 100%;

    .contact-top-bar-container {

      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: $top-bar-height;
      border-radius: $global-dialog-radius $global-dialog-radius 0 0;
      border-bottom: 1px solid #272a37;
      background-color: $dark-background;
      font-size: 0.8vw;

      .spinning {

        animation: spin 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

      }

      @keyframes spin {

        from {

          transform: rotate(0deg);

        }

        to {

          transform: rotate(360deg);

        }

      }

    }

    .contact-list-container {

      width: 100%;
      height: calc(100% - #{$top-bar-height});
      border-radius: 0 0 $global-dialog-radius $global-dialog-radius;
      padding: 10px 10px;
      background-color: $dark-background;

      .group-member-info-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 50px;

        &:hover {

          color: #e5eaf3;
          border-radius: 10px;
          background-color: #484d5f;

        }

        .group-member-info-nickname-container {

          max-width: 120px;
          margin-left: 10px;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #a6a9ad;

        }

      }

    }

  }

}
